.feynman__link {
  display: flex;
  position: absolute;
  color: black;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  z-index: 2;
}